@font-face {
  font-family: SamsungSans-Regular;
  src: url(../fonts/SamsungSans-Regular.ttf); }

html,
body {
  font-family: SamsungSans-Regular,Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

p {
  font-size: 15px;
  line-height: 22px; }

.slick-prev {
  left: 10px;
  z-index: 9; }

.slick-next {
  right: 30px;
  z-index: 9; }

.slick-prev:before,
.slick-next:before {
  font-size: 40px; }

.bg {
  width: 100%;
  height: 768px;
  overflow: hidden;
  position: relative; }

.bg--page-home {
  background: url(../images/bg-jelajah-raja-ampat-tiketcom-small.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.tagline {
  width: 100%;
  height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.tagline__content-icon {
  width: 500px;
  overflow: hidden;
  display: block; }

.promo__box {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; }

.promo__title {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0; }

.promo__title--content {
  overflow: hidden;
  position: relative; }
  .promo__title--content h1 {
    font-size: 70px;
    letter-spacing: 10px;
    color: #fedd00;
    margin: 13px 15px 0 23px;
    padding: 0;
    position: relative;
    z-index: 55; }
  .promo__title--content .icon-plus {
    top: 0;
    width: 18px;
    position: absolute; }
  .promo__title--content .icon-spiral {
    z-index: 22;
    bottom: 40px;
    width: 50px;
    right: 0;
    position: absolute; }

.promo__banner-content {
  width: 1300px;
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  align-items: center; }

.display-banner {
  width: 970px;
  height: 344px;
  text-align: center;
  background-color: #fff;
  margin: 0 25px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25); }

.about {
  width: 100%;
  padding: 100px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.about__box-content {
  width: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: row; }

.about__img-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .about__img-content .img-about {
    width: 370px; }

.about__txt-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222; }
  .about__txt-content h2 {
    margin: 0 0 10px 0;
    padding: 0; }

.button {
  width: 118px;
  padding: 10px 20px;
  overflow: hidden;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none; }

.button:hover {
  opacity: 0.7; }

.button--primary {
  background-color: #ff7200; }

.header {
  z-index: 999;
  width: 80%;
  overflow: hidden;
  padding: 25px 10%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.header--scroll {
  background-color: #0365d2;
  webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08); }

.header__box-one {
  width: 25%;
  overflow: hidden; }

.header__box-two {
  width: 75%;
  overflow: hidden;
  text-align: right; }

.header__logo {
  width: 180px;
  display: block;
  overflow: hidden; }

.header__list {
  list-style: none;
  text-align: right;
  color: #fff; }
  .header__list li {
    display: inline; }
  .header__list li a {
    padding: 10px 0;
    margin: 0 15px;
    font-size: 15px;
    color: #ffffff;
    line-height: 12px;
    text-decoration: none;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s; }
  .header__list li a:hover {
    color: #fedd00;
    border-bottom: 3px solid #fedd00; }
