.checkout {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 60px;
    background-color: #ffffff;
    clear: both;
    position: relative;
    overflow: hidden;
}

.checkout__header-title {
    width: 100%;
    padding: 0 0 0 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    h2 {
        font-size: 25px;
        font-weight: bold;
        color: #353535;
        margin: 0;
        padding: 0;
    }
    span {
        font-size: 14px;
        color: #555555;
        padding: 0;
        margin: 0 0 0 15px;
    }
}
.box-checkout-content {
    width: 100%;
    float: left;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.checkout__content {
    width: 70%;

    .wizard {
        margin: 20px auto;
        background: #fff;
    }
    
        .wizard .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            //border-bottom-color: #e0e0e0;
            border-bottom: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    
        .wizard > div.wizard-inner {
            position: relative;
        }
    
    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 60%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 1;
    }

    .box-form-delivery-address {
        width: 100%;
        padding: 0;
    }
    .category-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 30px 30px 0;
        }

        .icon-img {
            height: 30px;
            margin: 0 10px;
        }
    }

    .category-credit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 20px 4px;
        }

        .icon-img {
            height: 30px;
            margin: 0 5px;
        }
    }
    
    .tab-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-content-tab {
        width: 650px;

        h3 {
            text-align: center;
        }
    }

    .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        border: 0;
        border-bottom-color: transparent;
    }
    
    span.round-tab {
        width: 70px;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        border-radius: 100px;
        background: #fff;
        border: 2px solid #e0e0e0;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 25px;
    }
    span.round-tab i{
        color:#555555;
    }
    .wizard li.active span.round-tab {
        background: #fff;
        border: 2px solid #5bc0de;
        
    }
    .wizard li.active span.round-tab i{
        color: #5bc0de;
    }
    
    span.round-tab:hover {
        color: #333;
        border: 2px solid #333;
    }
    
    .wizard .nav-tabs > li {
        width: 100%;
    }
    
    .wizard li:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: #5bc0de;
        transition: 0.1s ease-in-out;
    }
    
    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 1;
        margin: 0 auto;
        bottom: 0px;
        border: 10px solid transparent;
        border-bottom-color: #5bc0de;
    }
    
    .wizard .nav-tabs > li a {
        width: 70px;
        height: 70px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
    }
    
        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }
    
    .wizard .tab-pane {
        position: relative;
        padding-top: 0px;
    }
    
    .wizard h3 {
        margin-top: 0;
    }
    
    @media( max-width : 585px ) {
    
        .wizard {
            width: 90%;
            height: auto !important;
        }
    
        span.round-tab {
            font-size: 16px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
    
        .wizard .nav-tabs > li a {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
    
        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 35%;
        }
    }
}

.checkout__price {
    width: 25%;
    right: 0;
    padding: 10px;
    margin-top: 60px;
    border-radius: 4px;
    border: 1px solid #ebeaea;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);

    .box-cart__content {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
    }

    .footer-total {
        padding: 5px 20px;

        h6 {
            margin: 0;
        }
    }

    .small-font {
        font-size: 14px;
    }

    span {
        font-size: 13px;
    }
}

.box-address {
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

    .box-new-address {
        width: 200px;
        height: 220px;
        padding: 15px;
        margin: 0 10px 20px 10px;
        border: 1px solid #e0e0e0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        border-radius: 4px;
        cursor: pointer;

        h3 {
            font-size: 20px;
            color: #353535;
            margin: 2px 0; 
        }
    }

    .box-my-address {
        width: 190px;
        height: 220px;
        padding: 15px;
        margin: 0 10px 20px 10px;
        border: 1px solid #e0e0e0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 4px;
        overflow: hidden; 
        position: relative;

        .my-address-header {
            width: 100%;
            display: flex;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #e0e0e0;
            
            h3 {
                font-size: 15px;
                color: #353535;
                margin: 2px 0;
                font-weight: bold; 
            }
        }

        .my-address-content {
            width: 100%;
            display: flex;
            flex-direction: column;

            p {
                margin: 3px 0;
                padding: 0;
                font-size: 13px;
                color: #555555;
            }
        }

        .my-address-footer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

#form-address {
    display: block;
}

.info-transfer {
    width: 100%;
    margin: 20px 0;
    background-color: #ffffff;

    h3 {
        text-align: left !important;
        font-size: 18px !important;
        font-weight: bold;
        color: #353535;
        margin: 20px 0;
    }

    ul.tabs{
        margin: 0px;
        padding: 0px;
        list-style: none;
        background: #fff;
    }
    ul.tabs li{
        background: none;
        color: #353535;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }

    ul.tabs li.current{
        border-bottom: 3px solid #d64545;
        color: #353535;
    }

    .tab-content{
        display: none;
        background: #ffffff;
        padding: 30px 0;
        border-top: 1px solid #ebebeb;
    }

    .tab-content.current{
        display: inherit;
    }

    .box-credit {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .box-text-credit {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        h4 {
            margin: 0;
            font-size: 16px;
            color: #353535;
            font-weight: bold;
        }
        p {
            margin: 0;
            color: #555555;
        }
    }

    .box-bank {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 25px;
    }

    .icon-img-bank {
        margin-left: 15px;
        height: 20px;
    }

    .box-text-bank {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        h4 {
            margin: 0;
            font-size: 16px;
            color: #353535;
            font-weight: bold;
        }
        p {
            margin: 0;
            color: #555555;
        }
    }
}

.detail-pembayaran {
    width: 100%;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: left !important;
        font-size: 18px !important;
        font-weight: bold;
        color: #353535;
        margin: 20px 0;
    }
}

.discount {
    width: 100%;
    background-color: #f5f5f5;
    margin: 30px 0 50px;
    padding: 15px;

    .box-disc {
        width: 350px;
    }

    span {
        color: #353535;
        font-weight: bold;
        font-size: 14px;
    }

    a {
        padding: 10px 20px;
        background-color: #f2dc57;
        color: #353535;
        border-radius: 25px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        opacity: 0.8;
    }

    .input-codes {
        width: 130px;
        margin: 0 10px;
    }
}