/*
 *  STYLE 3
 */

 #style-3::-webkit-scrollbar-track
 {
     background-color: #ffffff;
 }
 
 #style-3::-webkit-scrollbar
 {
     width: 5px;
     background-color: #F5F5F5;
 }
 
 #style-3::-webkit-scrollbar-thumb
 {
     background-color: #ac3a3e;
 }
 
.left_menu {
    width: 245px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    margin: 0 20px 0 0;
    background-color: #ffffff;
    display: block;
    float: left;

    &__header-title {
        width: 100%;
        padding: 15px 20px 5px 20px;

        h6 {
            font-size: 15px;
            font-weight: bold;
            color: #353535;
        }
    }
    &__content {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0 0 10px 0;

        .box-menu {
            width: 100%;
            padding: 6px 20px;
            cursor: pointer;
            position: relative;
            background-color: #fff;
            display: flex;
            line-height: 18px;
            align-items: center;

            li {
                list-style: none;
            }

            ul {
                padding: 0;
            }

            .menu-child {
                position: absolute;
                top: 0;
                left: 100%;
                text-align: left;
                -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                background-color: #ffffff;
                visibility: hidden;
                opacity: 0;
                transition: transform 0.2s;
                z-index: 102;
                padding: 20px 25px;
                display: -webkit-flex;
                -webkit-flex-wrap: wrap;
                display: -webkit-flex;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 120px;
                    padding: 5px 0;
                }
            }
            &:hover .menu-child {
                visibility: visible;
                opacity: 1;
            }

            a {
                text-decoration: none;
                color:  rgba(0,0,0,.5);
                display: flex;
                align-items: center;
            }
    
            a:hover {
                color: #ac3a3e;
            }
        }

        .box-icon-menu {
            width: 40px
        }

        .icon-menu {
            height: 25px
        }
    }
}

@media (max-width: 1024px) { 
    .left_menu {
        display: none;
    }
 }

 @media (max-width: 1200px) { 
    .left_menu {
        display: none;
    }
 }